<h1>Code Example Box</h1>
<p>Based on best practice described on <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code">MDN</a>, this code box uses a <code>code</code> tag inside a <code>pre</code> tag. Syntactic sugar is provided by <a href="prismjs.com">prism.js</a>.</p>
<pre class="codebox codebox-{{ modifier }}"><code class="language-{{ lang }}">{{ code }}</code></pre>
<style>
  @import "{{ path '/vendor/prism/prism.css' }}";
</style>
<script src="{{ path '/vendor/prism/prism.js' }}"></script>
<script src="{{ path '/scss/components/codebox/codebox.js' }}"></script>
