<style>
  @import "{{ path '/vendor/prism/prism.css' }}";
</style>
<section>
  <pre class="codebox codebox-{{ modifier }}"><code class="language-{{ lang }}">{{ code }}</code></pre>
</section>
<script src="{{ path '/vendor/prism/prism.js' }}"></script>
<script src="{{ path '/scss/components/codebox/codebox.js' }}"></script>
