<nav class="nav-small sibling-margins-off">
  <h2><a class="link-light" href="#">{{ section_name }}</a></h2>
  <ul class="list-nobullet">
    <li><a class="link-light" href="{{ link1_url }}">{{ link1_text }}</a></li>
    <li><a class="link-light" href="{{ link2_url }}">{{ link1_text }}</a></li>
    <li><a class="link-light" href="{{ link3_url }}">{{ link1_text }}</a></li>
    <li><a class="link-light" href="{{ link4_url }}">{{ link1_text }}</a></li>
  </ul>
</nav>