<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" href="{{ path '/docs/resources/stylesheets/tyfy.docs.css' }}">
    <title>Preview</title>
  </head>
  <body class="tyfy-margins-on">
    {{{ yield }}}
    {{ render '@pagetitle' }}
    <section class="tyfy-padding-md">
      <p>TYFY is a framework for applying elements of typographic style to your front-end development. It provides a baseline grid, modular scale, sensible margins, and styles for common HTML elements and content patterns.</p>
      <p>To get started you can either use the compiled CSS or begin with the SCSS files and customize the framework by overriding the default variable values. The latter approach is recommended as it allows you to take full advantage of the mixins and functions for the baseline grid and modular scale.</p>
    </section>
    <script src="{{ path '/docs/resources/vendor/jquery-3.4.1.min.js' }}"></script>
    <script src="{{ path '/docs/resources/scripts/tyfy.docs.nav.main.js' }}"></script>
  </body>
</html>